{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Faculty Sign In</title>
  <link rel="stylesheet" href="{% static 'forgot_password.css' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    
</head>
<body>
  <div class="back">
    <button onClick="window.location.href='{% url 'GradeFlow' %}'">
      <img src="{% static "/images/arrow.png" %}" alt="Back to home" />
      Back to home
    </button>
  </div>

  <div class="gradeFlow">
    <img src={%static "images/gradeFlow_logo.png" %} alt="Grade Flow Logo" />
    <div class="gradeFlow_faculty">
      <h3>Grade Flow</h3>
      <p>Faculty Portal</p>
    </div>
  </div>

  <div class="container">
    <div class="formHeader">
      <h3 class="faculty_margin">Reset Your Password</h3>
      <p>Please enter your email to reset your faculty account password.</p>
      
    </div>
    <div id="formSignin" class="form active">
      <form method="POST" class="text">
        {% csrf_token %}
        <p>Email Address</p>
        
        <div class="input-wrapper">
          <img src="{% static 'images/email.png' %}" alt="email_icon" class="input-icon left" />
          <input type="text" name="forgot_username" placeholder="your.email@university.edu" required />
        </div>

        <div style="margin-top: 10px;">
          {% include 'components/messages.html' %}
        </div>
          
        <button type="submit" class="buttonSignIn">Continue</button>
        
      </form>
      
    </div>
  </div>

  <script src="{% static 'signin_signup_js.js' %}"></script>
    <script>
        const visibleIcon = "{% static 'images/visible.png' %}";
        const hiddenIcon = "{% static 'images/hidden.png' %}";
    </script>
</body>
</html>
