
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Faculty Profile Settings</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/faculty_profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile_section.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
   <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/messages.css' %}">


</head>
<body>

  {% include 'components/header.html' %}

    <main class="container">
        <h2><img src={% static "images/cogwheel.png" %} style="width: 26px; height: 26px; justify-content: center;"/> 
          Profile Settings</h2>
        <p class="subtitle">Manage your personal information and preferences</p>

        <div class="settings-layout">
            {% include 'components/facultySidebar.html' %}

            <div class="settings-content">

                {% include 'components/facultyProfileSection.html' %}
                {% include 'components/preferences_section.html' %}
                {% include 'components/security_section.html' %}

            </div>
        </div>
    </main>

  <script src="{% static 'js/notification.js' %}"></script>
  <script src="{% static 'js/userDropdown.js' %}"></script>
  <script src="{% static 'js/faculty_profileSettings.js' %}"></script>
  <script src="{% static 'js/themes.js' %}"></script>
  
  
</body>
</html>
