body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f3ff;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 20px;
    
}

.container h2 {
    font-size: 28px;
    color: #23395d;
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
}

.settings-layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
}

