/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 140px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

header .logo-icon {
    width: 40px;
    height: 35px;
    border-radius: 8px;
}

header .h2andp {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

header .h2andp h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #2d31fa;
}

header .h2andp p {
    margin: 0;
    font-size: 13px;
    color: #666;
}

/* USER MENU */
.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.user-circle {
    background: #2d31fa;
    color: #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* USER DROPDOWN */
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 45px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #dad6d6;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 220px;
    display: none;
    flex-direction: column;
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-menu .user-info {
    padding: 10px 15px;
}

.dropdown-menu a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}

.dropdown-menu a:hover {
    background: #293aaa;
    color: #fff;
    border-radius: 5px;
}

.menuOptions {
    display: flex;
    flex-direction: column;
}
