.notif-dropdown {
      position: absolute;
      right: 0;
      background: white;
      width: 320px;
      border-radius: 6px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      display: none;
      z-index: 999;

      max-height: 350px;   /* NEW — sets height limit */
      overflow-y: auto;    /* NEW — makes it scroll */
  }
    .notif-item {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }
    .notif-item.unread {
        background: #f2f8ff;
        font-weight: bold;
    }

        .notif-dropdown::-webkit-scrollbar {
        width: 6px;
    }

    .notif-dropdown::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 4px;
    }

    .notif-dropdown::-webkit-scrollbar-thumb:hover {
        background-color: #b1b1b1;
    }